<span>
      <div class="card p-3 mt-0 mr-1 text-left">
            <b>C# code</b>
            <div class="pl-3 pt-1 pb-0 bg-dark text-success overflow-auto"  style="height:8rem">
                  <div class="pl-3 ml-3 mb-0"><pre class="text-success pb-0 mb-0">{{csCode}}</pre></div>
                  </div>
                  <b>AngularJs code</b>
                  <div class="pl-3 pt-1 pb-0 bg-dark text-success overflow-auto"  style="height:8rem">
                        <div class="pl-3 ml-3 mb-0"><pre class="text-success pb-0 mb-0">{{angularCode}}</pre></div>
                  </div>
            </div>
            <div class="p-3 mt-2 mr-1 alert-secondary border rounded">
                  <b>Result : </b><br/>
                  <div class="p-3">
                        {{data}}
                  </div>
            </div>
      </div>
</span>