<div class="head-card card m-1">
    <div class="card-body m-0 p-1 alert-info header-bg ">
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-10 p-2 text-left">
                    <h1 class="header-title mt-3 ml-3 text-light mb-0">EasyDocker C# ASP .Net Solution 
                        <span class="version">(Demo)</span></h1>
                    <div class="text-warning header-subtitle pl-1 pt-0 ml-3 mt-0">An Angular 1.8.2 SPA</div>
                </div>
                <div class="col-2 pr-1 m-0 text-right text-secondary">
                    <div class="pull-right header-developer">Developer : John Xu</div>
                </div>
            </div>
        </div>
        <div class="pl-1 text-warning"></div>
        <div class="container-fluid mt-1 head-menu-2 text-left text-light">
        </div>
    </div>
</div>